<div class="row">
  <div class="col-sm-6"><h2><i class="fa fa-users" aria-hidden="true"></i> Total Employees: {{totalEmployee}}</h2></div>
  <div class="col-sm-6"><h2><i class="fa fa-money" aria-hidden="true"></i> Total Salary: {{totalEmployeeSalary | currency : "USD" :true}}</h2></div>
</div>

<div *ngIf="employees?.length>0; else emptyBloc" >
  <table class="table table-inverse">
    <thead>
      <tr>
       
        <th nowrap>First Name</th>
        <th nowrap>Last Name</th>
        <th>Salary</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let item of employees">
      <tr>
        
        <td nowrap>{{item.firstName}}</td>
        <td nowrap>{{item.lastName}}</td>
        <td nowrap>{{item.salary  | currency : "USD" :true }}</td>
        <td>  <a href="#" [routerLink]="['employee/'+item.$key]" class="btn btn-primary">More <i class="fa fa-info-circle" aria-hidden="true"></i></a></td>
      </tr>
      
    </tbody>
  </table>
</div>
<ng-template #emptyBloc ><h2>Oops Empty Data Base</h2></ng-template>

